Repository hjbugajski/jesse-and-henry-site: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run eslint:fix, npm run stylelint:fix, npm run prettier:fix

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": "npm run eslint:fix",
  "*.css": "npm run stylelint:fix",
  "*": "npm run prettier:fix"
}

fix: add dotenv
  package-lock.json
  package.json
  src/app/actions.ts
  src/lib/api/index.ts
Due: npm run eslint:fix, npm run prettier:fix

fix: add dotenv (#11)
  package-lock.json
  package.json
  src/app/actions.ts
  src/lib/api/index.ts
Due: npm run eslint:fix, npm run prettier:fix

chore: update dependencies
  package-lock.json
  package.json
Due: npm run prettier:fix

fix: remove rsvp login page in favor of single page relavidation
  src/app/[...slug]/page.tsx
  src/app/actions.ts
  src/app/rsvp/login/page.tsx
  src/app/rsvp/page.tsx
  src/components/RsvpEvent.tsx
  src/components/RsvpLoginForm.tsx
  src/lib/api/index.ts
Due: npm run eslint:fix, npm run prettier:fix

fix/rsvp (#12)
  package-lock.json
  package.json
  src/app/[...slug]/page.tsx
  src/app/actions.ts
  src/app/rsvp/login/page.tsx
  src/app/rsvp/page.tsx
  src/components/RsvpEvent.tsx
  src/components/RsvpLoginForm.tsx
  src/lib/api/index.ts
Due: npm run eslint:fix, npm run prettier:fix

fix: update auth, refactor protected login, update rsvp page
  next.config.js
  package-lock.json
  package.json
  src/app/[...slug]/page.tsx
  src/app/actions.ts
  src/app/globals.css
  src/app/layout.tsx
  src/app/protected/page.tsx
  src/app/rsvp/login/page.tsx
  src/app/rsvp/page.tsx
  src/components/LogOutButton.tsx
  src/components/ProtectedForm.tsx
  src/components/RsvpEvent.tsx
  src/components/RsvpForm.tsx
  src/components/RsvpLoginForm.tsx
  src/components/SubmitButton.tsx
  src/lib/components/Collapsible.tsx
  src/lib/components/Form.tsx
  src/lib/components/FormField.tsx
  src/lib/components/Input.tsx
  src/lib/components/Label.tsx
  src/lib/components/Select.tsx
  src/lib/components/Textarea.tsx
  src/lib/components/Toast.tsx
  src/lib/hooks/use-toast.tsx
  src/lib/providers/Toaster.tsx
  src/lib/types/action-state.ts
  src/lib/types/form.ts
  src/lib/types/payload.ts
  src/lib/utils/cookies.ts
  src/middleware.ts
  tsconfig.json
Due: npm run eslint:fix, npm run stylelint:fix, npm run prettier:fix

fix: update auth, refactor protected login, update rsvp page (#13)
  next.config.js
  package-lock.json
  package.json
  src/app/[...slug]/page.tsx
  src/app/actions.ts
  src/app/globals.css
  src/app/layout.tsx
  src/app/protected/page.tsx
  src/app/rsvp/login/page.tsx
  src/app/rsvp/page.tsx
  src/components/LogOutButton.tsx
  src/components/ProtectedForm.tsx
  src/components/RsvpEvent.tsx
  src/components/RsvpForm.tsx
  src/components/RsvpLoginForm.tsx
  src/components/SubmitButton.tsx
  src/lib/components/Collapsible.tsx
  src/lib/components/Form.tsx
  src/lib/components/FormField.tsx
  src/lib/components/Input.tsx
  src/lib/components/Label.tsx
  src/lib/components/Select.tsx
  src/lib/components/Textarea.tsx
  src/lib/components/Toast.tsx
  src/lib/hooks/use-toast.tsx
  src/lib/providers/Toaster.tsx
  src/lib/types/action-state.ts
  src/lib/types/form.ts
  src/lib/types/payload.ts
  src/lib/utils/cookies.ts
  src/middleware.ts
  tsconfig.json
Due: npm run eslint:fix, npm run stylelint:fix, npm run prettier:fix

fix: properly handle protected page auth
  src/app/[...slug]/page.tsx
  src/app/actions.ts
Due: npm run eslint:fix, npm run prettier:fix

chore: run prettier
  tsconfig.json
Due: npm run prettier:fix

fix(components/Navigation): add showCta check
  src/components/Navigation.tsx
Due: npm run eslint:fix, npm run prettier:fix

fix(components/Serialize): add bottom border to h2
  src/components/Serialize.tsx
Due: npm run eslint:fix, npm run prettier:fix

feat(lib/components): add accordion
  package-lock.json
  package.json
  src/lib/components/Accordion.tsx
  tailwind.config.ts
Due: npm run eslint:fix, npm run prettier:fix

feat(components/blocks): add Faq
  src/components/blocks/Faq.tsx
  src/components/blocks/index.tsx
  src/lib/types/payload.ts
Due: npm run eslint:fix, npm run prettier:fix

feat/faqs (#15)
  package-lock.json
  package.json
  src/components/Navigation.tsx
  src/components/Serialize.tsx
  src/components/blocks/Faq.tsx
  src/components/blocks/index.tsx
  src/lib/components/Accordion.tsx
  src/lib/types/payload.ts
  tailwind.config.ts
  tsconfig.json
Due: npm run eslint:fix, npm run prettier:fix

feat(RsvpForm): add meal preference
  src/components/RsvpForm.tsx
  src/lib/types/payload.ts
  tailwind.config.ts
Due: npm run eslint:fix, npm run prettier:fix

feat: add support for RSVP deadline
  src/app/rsvp/page.tsx
  src/components/RsvpForm.tsx
  src/lib/graphql/gloabls.ts
  src/lib/graphql/index.ts
  src/lib/types/payload.ts
Due: npm run eslint:fix, npm run prettier:fix

fix/rsvp (#16)
  package-lock.json
  package.json
  src/app/rsvp/page.tsx
  src/components/RsvpForm.tsx
  src/lib/graphql/gloabls.ts
  src/lib/graphql/index.ts
  src/lib/types/payload.ts
  tailwind.config.ts
Due: npm run eslint:fix, npm run prettier:fix

refactor(components/Countdown): use luxon for date interval
  package-lock.json
  package.json
  src/components/Countdown.tsx
  src/components/Footer.tsx
Due: npm run eslint:fix, npm run prettier:fix

refactor/countdown (#17)
  package-lock.json
  package.json
  src/components/Countdown.tsx
  src/components/Footer.tsx
Due: npm run eslint:fix, npm run prettier:fix

fix: update RSVP deadline alert
  src/app/rsvp/page.tsx
Due: npm run eslint:fix, npm run prettier:fix

fix/rsvp (#18)
  package-lock.json
  package.json
  src/app/rsvp/page.tsx
Due: npm run eslint:fix, npm run prettier:fix

chore: switch to pnpm
  package-lock.json
  pnpm-lock.yaml
Due: npm run prettier:fix

chore: update dependencie and switch to pnpm
  package.json
  pnpm-lock.yaml
Due: npm run prettier:fix

fix: address a11y issues
  src/components/MobileLinks.tsx
  src/components/blocks/Registry.tsx
Due: npm run eslint:fix, npm run prettier:fix

refactor: replace index with id for key were applicable
  src/app/rsvp/page.tsx
  src/components/Countdown.tsx
  src/components/MobileLinks.tsx
  src/components/Navigation.tsx
  src/components/Serialize.tsx
  src/components/blocks/Faq.tsx
  src/components/blocks/Gallery.tsx
  src/components/blocks/Registry.tsx
  src/lib/graphql/gloabls.ts
  src/lib/types/payload.ts
Due: npm run eslint:fix, npm run prettier:fix

chore: update dependencies, add ci lint, remove pre-commit hooks
  .commitlintrc.json
  .github/workflows/ci.yml
  .husky/commit-msg
  .husky/pre-commit
  .lintstagedrc.json
  .prettierignore
  package.json
  pnpm-lock.yaml
Due: npm run prettier:fix

chore: fix lint errors
  src/lib/components/Input.tsx
  src/lib/components/Textarea.tsx
  src/lib/hooks/use-toast.tsx
Due: npm run eslint:fix, npm run prettier:fix

chore: rename lint script
  package.json
Due: npm run prettier:fix

chore: updates (#19)
  .commitlintrc.json
  .github/workflows/ci.yml
  .husky/commit-msg
  .husky/pre-commit
  .lintstagedrc.json
  .prettierignore
  package-lock.json
  package.json
  pnpm-lock.yaml
  src/app/rsvp/page.tsx
  src/components/Countdown.tsx
  src/components/MobileLinks.tsx
  src/components/Navigation.tsx
  src/components/Serialize.tsx
  src/components/blocks/Faq.tsx
  src/components/blocks/Gallery.tsx
  src/components/blocks/Registry.tsx
  src/lib/components/Input.tsx
  src/lib/components/Textarea.tsx
  src/lib/graphql/gloabls.ts
  src/lib/hooks/use-toast.tsx
  src/lib/types/payload.ts
Due: npm run eslint:fix, npm run prettier:fix

chore: update dependencies
  .github/workflows/ci.yml
  package.json
  pnpm-lock.yaml
Due: npm run prettier:fix

chore: update dependencies (#20)
  .github/workflows/ci.yml
  package.json
  pnpm-lock.yaml
Due: npm run prettier:fix
